@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Source+Sans+Pro:200,400,700,900';

// variables

// fonts
$Lora: 'Lora', serif;
$SourceSans: 'Sourse San Pro', Helvetica, sans-serif;

//colors
$text: #333333;
$link: #E87345;

//Imports
@import 'typography';
@import 'reset';
@import 'grid';
@import 'vars';

.contact {
  background-color: $text;
  color: white;
  padding: 4rem;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;

  // &__title, &__social, &__button {
  //   flex: 100%;
  // }

  .social {
    display: flex;
    justify-content: center;

    &__button {
      margin: 0 1rem;
      font-size: 1.5rem;
      color: white;
    }
  }


}
